<form class="m-5" [formGroup]="form">
  <div class="row">
    <ng-container class="col-3" *ngFor="let field of titulos">
      <div *ngIf="field != 'Geography' && field != 'Gender' && field != 'HasCrCard' && field != 'IsActiveMember' " >
        <label for="{{field}}">{{field}}</label>
        <input  type="text" pattern="^[0-9]+$" class="form-control" [formControlName]="field">
      </div>
      <ng-container *ngIf="field==='Geography' || field==='Gender' || field==='HasCrCard' || field==='IsActiveMember'">
        <label *ngIf="field==='Gender'" for="{{field}}">{{field}}</label>
        <select class="form-control" *ngIf="field==='Gender'" [formControlName]="field">
          <option selected value="0">Feminino</option>
          <option value="1">Masculino</option>
        </select>
        <label *ngIf="field==='Geography'" for="{{field}}">{{field}}</label>
        <select class="form-control" *ngIf="field==='Geography'" [formControlName]="field">
          <option selected value="0">France</option>
          <option value="1">Spain</option>
          <option value="2">Germany</option>
        </select>
        <label *ngIf="field==='HasCrCard'" for="{{field}}">{{field}}</label>
        <select class="form-control" *ngIf="field==='HasCrCard'" [formControlName]="field">
          <option selected value="1">Sim</option>
          <option value="0">Não</option>
        </select>
        <label *ngIf="field==='IsActiveMember'" for="{{field}}">{{field}}</label>
        <select class="form-control" *ngIf="field==='IsActiveMember'" [formControlName]="field">
          <option selected value="1">Sim</option>
          <option value="0">Não</option>
        </select>
      </ng-container>
    </ng-container>
  </div>
  <button (click)="enviar()" [disabled]="form.invalid" type="submit" class="btn btn-primary mt-3 w-100">Enviar</button>
</form>

